@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

$fontMain: 'Montserrat', sans-serif; 

//size
$textLg:2em;
$textMd:1.5em;
$textSm:1.2em;

//weight
$textBold:700;
$textRegular:600;
$textLight:500;
$textXlight:400;

//align
$textCenter:center;

$lineH0: 1em;
$lineH1: 1.5em;

$textDnone: none;

