@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

$fontMain: 'Montserrat', sans-serif; 

//size
$textLg:2em;
$textMd:1.5em;
$textSm:1.2em;
$textXsm:1.1em;
$textXxsm:0.8em;

//weight
$textBold:700;
$textRegular:600;
$textLight:500;
$textXlight:400;
$textXxlight:300;

//align
$textCenter:center;
$textLeft:left;
$textJustify: justify;


$lineH0: 1em;
$lineH01: 1.2em;
$lineH1: 1.5em;

$textDnone: none;

