//vars

//colors
$verdeH: rgba(34, 91, 16, 1);
$verdeHL: rgba(117, 152, 106, 1);
$verdeL: rgba(227, 234, 225, 1);
$verdeL2: rgba(200, 214, 195, 1);
$negro: black;
$blanco: white;

//sizing
$w-100: 100%;
$w-90: 90%;
$w-80: 80%;
$w-70: 70%;
$w-60: 60%;
$w-50:50%;
$w-30: 30%;

$h-30:30vh;
$h-a:auto;



