//vars

//colors - maps
$color:(
    'blanco': white,
    'negro': black,
    'v1':rgba(34, 91, 16, 1),
    'v2': #47793b,
    'v3': #759b67,
    'v4':#a3bc94,
    'v5': #d1dec1,
    'v6': #e6efdf,
    'v7': #f5f8fd);


//sizing
$w-100: 100%;
$w-90: 90%;
$w-80: 80%;
$w-70: 70%;
$w-60: 60%;
$w-50:50%;
$w-30: 30%;
$w-20: 20%;

$h-30:30vh;
$h-a:auto;

//d-flex



